.homepage {
    background-image: url('../../public/floriane-vita-FyD3OWBuXnY-unsplash.jpg');
    height: 100vh;
    margin: 0;
}

.form {
    width: 30vw;
    height: 40vh;
    /* margin-left: 25em; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.form button{
    background-color: blue;
    padding: 20px 100px;
    color: white;
    letter-spacing: .2rem;
    border: none
}
.form input {
    padding: 10px 5px;
}

.container {
    display: flex;
    justify-content: space-around;
}